@model List<Education.Model.Entities.Blog>
@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section class="hero-wrap hero-wrap-2" style="background-image:url('@Url.Content("~/images/bg_2.jpg")');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i class="fa fa-chevron-right"></i></a></span> <span>Our Blog <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Our Blog</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row d-flex">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 ftco-animate">
                        <div class="blog-entry">
                        <a href="blog-single.html" class="block-10">
                            <img src="~/images/@item.Image" style="width:340px; height:240px;" />
                        </a>
                            <div class="text d-block">
                                <div class="meta">
                                    <p>
                                        <a href="#"><span class="fa fa-calendar mr-2"></span>@item.CreateDate</a>
                                        <a href="#"><span class="fa fa-user mr-2"></span>@item.CreateBy</a>
                                        <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                    </p>
                                </div>
                                <h3 class="heading"><a href="#">@item.Name</a></h3>
                                <p>@item.Content</p>
                                <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                }

                
            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            <li><a href="#">&lt;</a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>





   